@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply h-full bg-background;
  }

  :root {
    --background: 30 33% 98%;
    --foreground: 28 40% 16%;

    --card: 30 33% 98%;
    --card-foreground: 28 40% 16%;

    --popover: 30 33% 98%;
    --popover-foreground: 28 40% 16%;

    --primary: 25 86% 32%;
    --primary-foreground: 30 33% 98%;

    --secondary: 22 16% 82%;
    --secondary-foreground: 28 40% 16%;

    --muted: 22 16% 82%;
    --muted-foreground: 28 35% 35%;

    --accent: 28 54% 44%;
    --accent-foreground: 30 33% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 30 33% 98%;

    --border: 22 16% 82%;
    --input: 22 16% 82%;
    --ring: 25 86% 32%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 28 40% 16%;
    --foreground: 30 33% 98%;

    --card: 28 40% 16%;
    --card-foreground: 30 33% 98%;

    --popover: 28 40% 16%;
    --popover-foreground: 30 33% 98%;

    --primary: 22 65% 57%;
    --primary-foreground: 28 40% 16%;

    --secondary: 28 12% 24%;
    --secondary-foreground: 30 33% 98%;

    --muted: 28 12% 24%;
    --muted-foreground: 22 16% 82%;

    --accent: 22 65% 57%;
    --accent-foreground: 28 40% 16%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 30 33% 98%;

    --border: 28 12% 24%;
    --input: 28 12% 24%;
    --ring: 22 65% 57%;

    --radius: 0.5rem;
  }
}